html{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
main{
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: 0;
}
header{
    background-color: #091E3F;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 20px solid #ff0000;
}

header img{
    width: 20%;
}

header nav a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    padding-right: 50px;
}
.guide_regis{
    display: grid;
    grid-template-columns: 100px 1fr 1fr 100px;
    grid-template-rows: 75px 1fr;
    box-sizing: border-box;
    border-bottom: 10px solid #091E3F;
}
.guide_regis_title{
    grid-column: 2;
    grid-row: 1;
}
form{
    grid-column: 2/4;
    grid-row: 2;

    font-weight: 600;
    width: 30%;
}
.banner{
    width: 100%;
    padding: 60px 0;
    text-align: center;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 150px);
    justify-content: center;
    box-sizing: border-box;
}
.banner_text h2{
    color: #fff;
    background-color: #091E3F;
    width: 80%;
    margin: 0 20px;
    font-size: 40px;
    box-sizing: border-box;
}
 .banner_text p{
    color: #fff;
    background-color: #6AC6DE;
    width: 80%;
    margin: 0 20px;
    font-weight: 600;
    font-size: 24px;
    text-align: justify;
    padding: 20px;
    box-sizing: border-box;
}
.banner_img{
    grid-column: 3;
    grid-row: 1;
    box-sizing: border-box;
}
.banner_img img{
    width: 50%;
}
.banner_text{
    grid-column: 1/2;
    grid-row: 1;
    box-sizing: border-box;
}
.btn{
    padding: 15px 30px;
    background-color: #091E3F;
    color: #fff;
    font-weight: 600;
    border: 2px solid #6AC6DE;

}
.btn:hover{
    background-color: #6AC6DE;
    cursor: pointer;
}
.logos{
    padding-left: 28px;
}
.logos img{
    width: 25px;
}
.hound_logo{
    width: 200px;
}
footer{
    width: 100%;
    background-color: #091E3F;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
.footer_logos{
    width: 12%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;

}
.form_btn{
    padding-top: 10px;

}
.general_status_table{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    box-sizing: border-box;
    text-align: center;

}
.num_total_guides{
    grid-column: 1;
    grid-row: 1;
    background-color: #091E3F;
    color: #fff;
    font-weight: 600;
    padding: 20px;
}
.in_transit{
    grid-column: 2;
    grid-row: 1;

    color: #fff;
    font-weight: 600;
    padding: 20px;
}
.delivered{
    grid-column: 3;
    grid-row: 1;
}
.row_1{
    grid-column: 1;
    grid-row: 2;
}
.row_2{
    grid-column: 2;
    grid-row: 2;
}   
.row_3{
    grid-column: 3;
    grid-row: 2;
}          
.table_title{
    background-color: #091E3F;
    color: #fff;
    font-weight: 600;
    padding: 20px;
    box-sizing: border-box;
} 
.table_content{
    width: 100%;
    font-weight: 600;
    padding: 20px;
    color: #091E3F;
    box-sizing: border-box;
}
.general_status{
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    border-bottom: #091E3F 10px solid;
}
.copyright{
    align-self: flex-end;
}
.contact{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
}
.contact a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}
.contact_title{
    grid-column: 1;
    grid-row: 1;
    font-weight: 600;
    color: #fff;
}
.contact_MX{
    grid-column: 1;
    grid-row: 2;
    text-align: left;
}
.contact_MX h4{
    padding-left: 20px;
}
.contact h3{
    margin: 0;
}
.contact img{
    width: 25px;
    padding-right: 10px
}
.guide_table{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    border-bottom: #fff 10px solid;

}
.guide_table table{

    box-sizing: border-box;
}
.table_body img{
    width: 25px;
    box-sizing: border-box;
    padding-right: 5px;
}
.table_body button{
    background-color: #091E3F;
    border: #fff 2px solid;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 5px;
}
.table_head th{

    background-color: #091E3F;
    color: #ffffff;
}
.table_body td{
    border: 2px solid #091E3F;
    background-color: #6AC6DE;
    color: #ffffff;
}
#lista{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
